.containerQ ol li {
  font-size: 1em;
  color: #585757;
}

.start {
  display: flex;
  justify-content: center;
}

.start .btn {
  padding: 0.2em 1.7em;
  border: none;
  border-radius: 0.1em;
  font-size: 1.2em;
  color: #202020;
  text-decoration: none;
}
.expand {
  width: auto;
  border: 1px solid grey !important;
}
#form {
  display: flex;
  margin-top: 1em;
  background-color: #dad6d6;
}

#form input {
  padding: 0.7em 2em;

  border: 1px solid rgb(236, 234, 234);
  border-radius: 15px;
  font-size: 1em;
}

@media screen and (max-width: 575px) {
  
  #form input{
    display: block;
    width: 100%;
  }
}

@media screen and (max-width: 414px) {
  
  #form  input{
    display: block;
    width: 100%;
  }
}
@media screen and (max-width: 390px) {
    #form  input{
    display: block;
    width: 100%;
  }
}

@media screen and (max-width: 375px) {
    #form  input{
    display: block;
    width: 100%;
  }
}
